<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description">

  <meta name="author">

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="app/assets/images/favicon.png" />

  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="app/assets/stylesheets/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="app/assets/stylesheets/bootstrap.min.css">

  <!-- Revolution Slider -->
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/pe-icon-7-stroke.css">
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/font-awesome.css">

  <!-- REVOLUTION STYLE SHEETS -->
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/settings.css">
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/layers.css">
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/navigation.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="app/assets/stylesheets/main_style.css">

</head>

<body id="body">
<!-- Start Top Header Bar -->
<section class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-4">
        <div style="position: absolute; left: 10px; top: 5px;">
          <a href="#eng" data-reload ><%=image_tag("flags/en.png", class:"rev-slidebg", alt:"", height: 12) %></a>
          <a href="#es" data-reload ><%=image_tag("flags/es.jpg", class:"rev-slidebg", alt:"", height: 12) %></a>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 col-sm-4">
        <!-- Site Logo -->
        <div class="logo text-center">
          <a href="app/views/pages/home.html.erb">
            <!-- replace logo here -->
            <svg width="135px" height="29px" viewBox="0 0 155 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40" font-family="AustinBold, Austin" font-weight="bold">
                <g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
                  <text id="AVIATO">
                    <tspan x="108.94" y="325">EQUIS</tspan>
                  </text>
                </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 col-sm-4">

        <!-- Sign In -->
        <ul class="top-menu text-right list-inline">
          <li class="dropdown search dropdown-slide">
            <%= render '/layouts/user_widget' %>

        <!-- Cart -->
          <li class="dropdown cart-nav dropdown-slide">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" id="cart"><i class="tf-ion-android-cart"></i>Cart</a>
            <div class="dropdown-menu cart-dropdown">

              <!-- Cart Item -->
              <div class="media">
                <a class="pull-left" href="#">
                  <img  class="media-object" src="app/assets/images/shop/cart/cart-1.jpg" alt="image" />
                </a>
                <div class="media-body">
                  <h4 class="media-heading"><a href="">Ladies Bag</a></h4>
                  <div class="cart-price">
                    <span>1 x</span>
                    <span>1250.00</span>
                  </div>
                  <h5><strong>$1200</strong></h5>
                </div>
                <a href="#" class="remove"><i class="tf-ion-close"></i></a>
              </div><!-- / Cart Item -->
              <!-- Cart Item -->
              <div class="media">
                <a class="pull-left" href="#">
                  <img  class="media-object" src="images/shop/cart/cart-2.jpg" alt="image" />
                </a>
                <div class="media-body">
                  <h4 class="media-heading"><a href="">Ladies Bag</a></h4>
                  <div class="cart-price">
                    <span>1 x</span>
                    <span>1250.00</span>
                  </div>
                  <h5><strong>$1200</strong></h5>
                </div>
                <a href="#" class="remove"><i class="tf-ion-close"></i></a>
              </div><!-- / Cart Item -->

              <div class="cart-summary">
                <span>Total</span>
                <span class="total-price">$1799.00</span>
              </div>
              <ul class="text-center cart-buttons">
                <li><a href="" class="btn btn-small">View Cart</a></li>
                <li><a href="" class="btn btn-small btn-solid-border">Checkout</a></li>
              </ul>
            </div>

          </li><!-- / Cart -->

          <!-- Search -->
          <li class="dropdown search dropdown-slide">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" id="sear"><i class="tf-ion-ios-search-strong"></i>Search</a>
            <ul class="dropdown-menu search-dropdown">
              <li><form action="post"><input type="search" class="form-control" placeholder="Search..."></form></li>
            </ul>
          </li><!-- / Search -->

          <!-- Languages -->
          <!-- <li class="commonSelect">
            <label>
             <select class="form-control" name="language">
                <option href="#es" data-reload>ES</option>
                <option href="#en" data-reload>EN</option>
              </select>
            </label>
          </li> --> <!-- / Languages -->

        </ul><!-- / .nav .navbar-nav .navbar-right -->
      </div>
    </div>
  </div>
</section><!-- End Top Header Bar -->

<!-- Main Menu Section -->
<section class="menu">
  <nav class="navbar navigation">
    <div class="container">
      <div class="navbar-header">
        <h2 class="menu-title">Main Menu</h2>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div><!-- / .navbar-header -->

      <!-- Navbar Links -->
      <div id="navbar" class="navbar-collapse collapse text-center">
        <ul class="nav navbar-nav">

          <!-- Home -->
          <li class="dropdown ">
            <!--<%= link_to "Home", "/welcome", :id => 'home'%> -->
          </li><!-- / Home -->


          <!-- Elements -->
          <li class="dropdown dropdown-slide">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false" id="shop">Shop <span class="tf-ion-ios-arrow-down"></span></a>
            <div class="dropdown-menu">
              <div class="row">

                <!-- Basic -->
                <div class="col-lg-6 col-md-6 mb-sm-3">
                  <ul>
                    <li class="dropdown-header" id="clothes">Clothes</li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to "All Products", products_path("All"), :id => 'allProd'%></li>
                    <li><%= link_to "Shirts", products_path(prodType: "Shirt"), :id => 'shirt'%></li>
                    <li><%= link_to "Trousers", products_path(prodType: "Trousers"), :id => 'trousers'%></li>
                    <li><%= link_to "Skirts", products_path(prodType: "Skirt"), :id => 'skirt'%></li>
                    <li><%= link_to "Dresses", products_path(prodType: "Dress"), :id => 'dress'%></li>
                    <li><%= link_to "Jumpers", products_path(prodType: "Jumper"), :id => 'jumper'%></li>
                    <li><%= link_to "Jackets", products_path(prodType: "Jacket"), :id => 'jacket'%></li>
                    <li><%= link_to "Shoes", products_path(prodType: "Shoes"), :id => 'shoes'%></li>
                  </ul>
                </div>

                <!-- Seasons -->
                <div class="col-lg-6 col-md-6 mb-sm-3">
                  <ul>
                    <li class="dropdown-header" id="seasons">Seasons</li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to "Winter", products_path(season: "Winter"), :id => 'winter'%></li>
                    <li><%= link_to "Spring", products_path(season: "Spring"), :id => 'spring'%></li>
                    <li><%= link_to "Summer", products_path(season: "Summer"), :id => 'summer'%></li>
                    <li><%= link_to "Autumn", products_path(season: "Autumn"), :id => 'autumn'%></li>
                  </ul>
                </div>

                <!-- Accesories -->
                <div class="col-lg-6 col-md-6 mb-sm-3">
                  <ul>
                    <li class="dropdown-header" id="accesories">Accesories</li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to "Jewellery", products_path(prodType: "Jewellery"), :id => 'jewellery'%></li>
                    <li><%= link_to "Caps", products_path(prodType: "Cap"), :id => 'hats'%></li>
                    <li><%= link_to "Purses", products_path(prodType: "Purse"), :id => 'purses'%></li>
                    <li><%= link_to "Bags", products_path(prodType: "Bag"), :id => 'bags'%></li>

                  </ul>
                </div>

              </div><!-- / .row -->
            </div><!-- / .dropdown-menu -->
          </li><!-- / Elements -->

          <!-- Personal Shopper -->
          <li class="dropdown dropdown-slide">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Personal Shopper <span class="tf-ion-ios-arrow-down"></span></a>
            <ul class="dropdown-menu">
              <li><a href="whatis.html" id="whatIs">What's a personal shopper?</a></li>
              <li><a href="ourPersonal.html" id="ourPersonal">Our personal shoppers</a></li>
              <li><a href="start.html" id="start">Start</a></li>
            </ul>
          </li><!-- / Blog -->
        </ul><!-- / .nav .navbar-nav -->

      </div><!--/.navbar-collapse -->
    </div><!-- / .container -->
  </nav>
</section>

  <!-- Script to change the website's language -->
  <script>
      function reload() {
          location.reload(true);
      }

      //Language translations
      var language = {
          es: {
              shop:"TIENDA <span class=\"tf-ion-ios-arrow-down\">",
              login: "Inicia Sesión",
              cart: "<i class=\"tf-ion-android-cart\"></i>Bolsa",
              search: "<i class=\"tf-ion-ios-search-strong\"></i>Buscar",
              clothes: "Ropa",
              shirt: "Camisetas",
              trousers: "Vaqueros",
              skirt: "Faldas",
              dress: "Vestidos",
              jumper: "Jerseis",
              jacket: "Chaquetas",
              shoes: "Zapatos",
              seasons: "Estaciones",
              winter: "Invierno",
              spring: "Primavera",
              summer: "Verano",
              autumn: "Otoño",
              accesories: "Accesorios",
              jewellery: "Joyería",
              hats: "Gorros",
              purses: "Carteras",
              bags: "Bolsos",
              whatIs: "¿Qué es un personal shopper?",
              ourPersonal: "Nuestros personal shoppers",
              start: "Comienza"
          }
      };

      //Define language via window hash
      if (window.location.hash  ){
          if(window.location.hash === "#es"){
              login.textContent = language.es.login;
              shop.innerHTML = language.es.shop;
              cart.innerHTML = language.es.cart;
              sear.innerHTML = language.es.search;
              clothes.textContent = language.es.clothes;
              shirt.textContent = language.es.shirt;
              trousers.textContent = language.es.trousers;
              skirt.textContent = language.es.skirt;
              dress.textContent = language.es.dress;
              jumper.textContent = language.es.jumper;
              jacket.textContent = language.es.jacket;
              shoes.textContent = language.es.shoes;
              seasons.textContent = language.es.seasons;
              winter.textContent = language.es.winter;
              spring.textContent = language.es.spring;
              summer.textContent = language.es.summer;
              autumn.textContent = language.es.autumn;
              accesories.textContent = language.es.accesories;
              jewellery.textContent = language.es.jewellery;
              hats.textContent = language.es.hats;
              purses.textContent = language.es.purses;
              bags.textContent = language.es.bags;
              whatIs.textContent = language.es.whatIs;
              ourPersonal.textContent = language.es.ourPersonal;
              start.textContent = language.es.start;
          }
      }

  </script>